html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body, input, textarea{
	font-family: 'Raleway', Arial, sans-serif;
	box-sizing: border-box;
}
/* Creating frames of layout */	
.container{
	margin: 0 auto;
	width: 1060px;
}
header, section{
	width: 100%;
}
header{
	background-color: #000;
	height: 60px;
	color: #fff;
	font-size: 14px;
	line-height: 60px;
}
.slider{
	background: rgb(188, 188, 188);
	background: -moz-linear-gradient(270deg, rgb(188, 188, 188) 0%, rgb(255, 255, 255) 100%);
	background: -webkit-linear-gradient(270deg, rgb(188, 188, 188) 0%, rgb(255, 255, 255) 100%);
	background: -o-linear-gradient(270deg, rgb(188, 188, 188) 0%, rgb(255, 255, 255) 100%);
	background: -ms-linear-gradient(270deg, rgb(188, 188, 188) 0%, rgb(255, 255, 255) 100%);
	background: linear-gradient(0deg, rgb(188, 188, 188) 0%, rgb(255, 255, 255) 100%);
	height: 500px;
}
.col-3{
	width: 330px;
}
.overview{
	height: 225px;
}
.offer{
	height: 500px;
	border: 2px solid lightgrey;
	position: relative;
	background-color: #F9F9F9;
}
.column{
	display: flex;
	justify-content: space-between;
	display: -webkit-flex;
    -webkit-justify-content: space-between;
}
.contact{
	width: 650px;
	height: 425px;
}
#contact-btn{
	width: 350px;
	height: 425px;
	color: #A0A0A0;
	position: relative;

}
/*header*/

.logo{
	letter-spacing: 2px;
}
.main-color{
	color: #27C7AB;
}
.logo .main-color, h1 .main-color{
	font-weight: 700;
}
a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
}
nav > ul#main-menu li{
	display: inline-block;	
}
nav > ul li a{
	display: inline;
	letter-spacing: 1px;
	padding: 0 25px 7px 25px;
}
nav > ul li a:hover{
	border-bottom: 5px solid #27C7AB;
}
nav{
	position: relative;
}
ul#submenu{
	position: absolute;	
	right: 203px;
	z-index: 3;
	padding-top: 15px;
	display: none;
}
ul#submenu li{
	width: 130px;
	background-color: #000;
	text-align: center;
	padding: 0;
}
ul#submenu li a{
	padding: 0;
}
ul#submenu li a:hover{
	color: #27C7AB;
	letter-spacing: 2px;
	border: none;
}
.hover:hover ul#submenu{
	display: block;
}
ul#submenu:before{
	content: '';
	display: block;
	width: 15px;
	height: 15px;
	background-color: #000;
	position: absolute;
	position: absolute;
	-ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
	left: 58px;
	top: 8px;
}
.half{
	width: 50%;
	text-align: center;
}
img{
	width: 100%;
	display: block;
	padding-top: 80px;
}
.slider div.container{
	position: relative;
}
a.main-color{
	font-size: 80px;
	font-weight: 200;
}
a.main-color.left{
	position: absolute;
	top: 40%;
	left: 0;
}
a.main-color.right{
	position: absolute;
	top: 40%;
	right: 0;
}
.btn{
	background-color: #27C7AB;
	border-radius: 5px;
	text-align: center;
}
a.btn-1{
	font-size: 18px;
	height: 50px;
	line-height: 50px;
	letter-spacing: 1px;
	width: 270px;
	margin-left: 53px; 
}
h1, h4, span{
	text-transform: uppercase;
}
h1{
	font-size: 32px;
	padding-top: 140px;
	width: 70%;
}
div.half p{
	padding: 40px 140px 35px 0;
	width: 70%;
}
.overview img{
	padding: 0;
}
.underline{
	border-bottom: 8px solid #27C7AB;
	padding-bottom: 2px;
}
h2.underline{
	width: 50%;
}
h2.underline a{
	color: #000;
	text-transform: none;
}
#articles{
	padding: 30px 0 100px 0;
}
#offerts{
	background-color: #F1F1F1;
}
h3{
	font-size: 22px;
	width: 330px;
	padding-top: 45px;
	padding-bottom: 3px;
	color: #4D4D4D;
}
#pricing{
	padding: 80px 0 70px 0;
}
article h2, article p{
	margin-left: 25px;
}
article h2{
	padding-top: 30px;
	font-weight: 700;
}
article p{
	padding: 0 20px 20px 0;
	font-size: 14px;
	color: #4D4D4D;
}
article p:nth-child(2){
	padding-top: 18px;
}
div.col-3.overview{
	position: relative;
	color: #000;
}
div.col-3.overview p{
	position: absolute;
	bottom: 15px;
	left: -10px;
	font-size: 16px;
	width: 330px;
	height: 65px;
	background: rgba(255, 255, 255, 0.5);
	line-height: 65px;
	padding-left: 20px; 
}
div.col-3.overview a{
	color: #000;
	text-transform: none;
	width: 330px;
	height: 65px;
}
article.col-3.overview, .offer{
	border: 1px solid lightgrey;
}
div.col-3.overview p:before{
	content: '';
	display: block;
	width: 140px;
	border-bottom: 8px solid #27C7AB;
	position: absolute;
	left: 20px;
	top: 43px;
}
.offer:before{
	content: '';
	display: block;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background-color: #FFF;
	border: 2px solid lightgrey;
	position: absolute;
	top: -40px;
	left: 137px;
}
.offer:after{
	content: '';
	display: block;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: #C1C1C1;
	position: absolute;
	top: -25px;
	left: 152px;
}
.price-circle{
	background-color: #FFF;
	border: 2px solid lightgrey;
	margin:0 auto;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	margin-top: 30px;
}
h4{
	text-align: center;
	margin-top: 30px;
	font-size: 25px;
	letter-spacing: 1px;
}
.price-circle p{
	color: #C2C2C2;
	font-size: 50px;
	padding-top: 20px;
	text-align: center;
}
#price{
	font-weight: 700;
}

.price-circle p sup{
	font-size: 16px;
	vertical-align: 20px;
}
.price-circle p span{
	position: relative;
	font-size: 45px;
	top: 6px;
}

.price-circle p:last-child{
	font-size: 16px;
	padding-top: 5px;
}
.features{
	margin-top: 35px;
}
.features li{
	list-style: none;
	text-align: center;
	width: 330px;
	line-height: 45px;
	font-size: 20px;
	color: #A0A0A0;
}
.features li:nth-child(2n){
	background-color: #E4E4E4;
}
.features li:nth-child(2n+1){
	background-color: #F1F1F1;
}
.offer:nth-child(2){	
	background-color: #27C7AB;
}
.offer:nth-child(2) h4{
	color: #fff;
}
.offer:nth-child(2) .btn-2,
.offer:nth-child(2) .features li:nth-child(2n+1){
	background-color: #FFF;
}
.offer:nth-child(2) .price-circle{
	border: none;
}
.offer:nth-child(2) .price-circle p{
	color:#27C7AB;
}
.btn-2{
	width: 125px;
	margin: 0 auto;
	line-height: 35px;
	letter-spacing: 1px;
	position: absolute;
	bottom: 15px;
	left: 100px;
}
.offer:nth-child(2):before{
	content: '';
	display: block;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background-color: #27C7AB;
	border: none;
	position: absolute;
	top: -40px;
	left: 137px;
}
.offer:nth-child(2):after{
	content: '';
	display: block;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: #FFF;
	position: absolute;
	top: -26px;
	left: 151px;
}
input, textarea{
	width: 100%;
	height: 65px;
	border: 1px solid #27C7AB;
}
textarea{
	height: 190px;
	resize: none;
}
form input{
	margin-top: 45px;
}
input[type="email"],textarea{
	margin-top: 30px;
}
input[placeholder],textarea[placeholder]{
	font-weight: 200;
	font-size: 30px;
	padding-left: 15px;
	line-height: 65px;
}
#contact-btn img:first-child{
	width: 250px;
	margin: 0 auto;
	padding-bottom: 20px;
	padding-top: 50px;
}
#form-agree{
	border: 1px solid #27C7AB;
	width: 45px;
	height: 45px;
	padding: 1px;
	float: left;
}
.btn-3{
	height: 70px;
	font-size: 28px;
	font-weight: 400;
	line-height: 70px;
	clear: both;
	position: absolute;
	bottom: 0;
	width: 100%;
}
#contact-btn p{
	float: left;
	width: 270px;
	margin-left: 15px;
	font-size: 19px;
	font-weight: 200;
}
footer .logo{
	font-size: 19px;
}
footer .logo span{
	font-weight: 700;
}
footer p, footer .logo{
	padding-top: 100px;
	color: #A0A0A0;
	margin-bottom: 50px;
}
footer p{
	width: 650px;
	letter-spacing: 1px;
}
.social{
	padding-top: 15px;
}
.social a{
	margin-left: 5px;
}









